<link rel="stylesheet" href="/css/user_signUp.css">
        <h1>
           HOME
        </h1>
       <div id="sign-in"><a href="/users/sign-in">Sign in</a></div> 
       <br>
       <div id="sign-in"><a href="/users/sign-up">Sign up</a></div> 
