        <link rel="stylesheet" href="/css/user_profile.css">
        <link rel="stylesheet" href="/css/user_signUp.css">
        <h1>
             Profile Page
        </h1>
        <div id="sign-up">
        <p style="color:white">Name:<%=user.name%></p>
        <p style="color:white">Email:<%=user.email%></p>
        <div id="sign-in"><a href="/users/sign-out">Sign out</a></div>
    </div>

