<h1>Sign In</h1>
<link rel="stylesheet" href="/css/user_signUp.css">
<form action="/users/create-session" method="POST">
    <div id="sign-up">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">


</form>
<p style="color:white">Don't have account?<span id="sign-in"><a href="/users/sign-up">Sign UP</a></span></p>
</div>
<p>
    <div id="google-link"> <a href="/users/auth/google">sign in with google</a></div>
</p>
